<section class="books__main">
  <img src="https://placekitten.com/g/120/80" class="beehouse__pg-logo">
  <header class="books__header">
    <h1 class="book__pg-title">Books</h1>

    <h3 class="book__count"><%= resources.length %> Books in Bee House</h3>
  </header>
  <ul class="book__list">
  </ul>

</section>
