<section class="books__main">
  <header>
    <img src="<%= BeeHouseImages.pgLogo %>" class="beehouse__pg-logo">
    <nav class="main__nav">
    </nav>
  </header>
  <header class="books__header">
    <h1 class="book__pg-title">Books</h1>

    <h3 class="book__count"><%= resources.length %> Books in Beehouse</h3>
  </header>
  <ul class="book__list">
  </ul>

</section>
