<section class="main__column books__main">
  <header class="main__nav">
    
    
  </header>
  <header class="page__header books__header">
    <h1 class="book__pg-title">Books</h1>

    <h3 class="book__count"><%= resources.length %> Books in Beehouse</h3>
  </header>
  <ul class="book__list">
  </ul>

</section>
