<section class="main__column">
  <header class="main__nav">
  </header>
  <header class="page__header">
    <h1>Add New Book</h1>
  </header>

  <form>
  		<div class="input--full">
	  		<label>Title</label>
			<input type="text">
		</div>

		<div class="input--half">
			<label>Author</label>
			<input type="text">
		</div>
		<div class="input--half">
			<label>Categories <em class="add-book__sidenote">Comma separated</em></label>
			<input type="text">
		</div>
		<div class="input--quarter">
			<label>Year</label>
			<input type="text">
		</div>

		<div class="input--quarter">
			<label>Publisher</label>
			<input type="text">
		</div>
		<div class="input--quarter">
			<label>Format</label>
			<input type="text">
		</div>
		<div class="input--quarter">
			<label>Language</label>
			<input type="text">
		</div>
		<div class="add-book__notes input--full">
			<label>Notes</label>
			<textarea></textarea>
		</div>
		<button class="add-book__save">Save book</button>
	</form>

</section>

<aside>
	<h3>34 Books in BH</h3>
	<ol class="add-book__inventory">
		<li>A Dark Dreambox</li>
		<li>A Dark Dreambox</li>
		<li>A Dark Dreambox</li>
		<li>A Dark Dreambox</li>
	</ol>
</aside>