<section class="main__column">
  <header class="main__nav">
  </header>
  <header class="page__header">
    <h1>Add New Book</h1>
  </header>

  <form>
  		<div class="input--full">
	  		<label>Title</label>
			<input id="title_input">
		</div>

		<div class="input--half">
			<label>Author</label>
			<input id="creator_input">
		</div>
		<div class="input--half">
			<label>Categories <em class="add-book__sidenote">Comma separated</em></label>
			<input>
		</div>
		<div class="input--quarter">
			<label>Year</label>
			<input id="date_input" type="date">
		</div>

		<div class="input--quarter">
			<label>Publisher</label>
			<input id="publisher_input">
		</div>
		<div class="input--quarter">
			<label>Format</label>
			<input id="format_input">
		</div>
		<div class="input--quarter">
			<label>Language</label>
			<input id="language_input">
		</div>
		<div class="add-book__notes input--full">
			<label>Description</label>
			<textarea id="description_textarea"></textarea>
		</div>
		<button class="add-book__save">Save book</button>
	</form>

</section>

<aside>
	<h3><%= bookCount %> Books in BH</h3>
	<ol class="add-book__inventory">
	</ol>
</aside>