<section class="main__column patrons__main">
  <header class="main__nav">
    
    
  </header>
  <header class="page__header patrons__header">
    <h1>Patrons (<%= patrons.length %>)</h1>
  </header>
  <ul class="patrons__list">
  </ul>

</section>