<li>
  <section>
    <h3><%= patron.name %></h3>
    <p><%= patron.email %></p>
    <% if (isAdmin) { %>
    <button class="new-loans">Check Out</button>
    <% } %> 
    <ol class="patron-item-loans">
    </ol>
  </section>
  <hr> <!-- temp -->
</li>
