<h3><%= patron.name %></h3>
<p><%= patron.email %></p>

<ol>
<% for (var i = 0; i < patron.current_loans.length; i++) { %>
	<li><%= patron.current_loans[i].title %></li>
<% } %>
</ol>

<hr> <!-- temp -->