<section>
  <div class="half">
    <h3><%= patron.name %></h3>
    <p><%= patron.email %></p>
  </div>
  <% if (isAdmin) { %>
  <div class="half new__checkout">
    <button class="new-loans">Check Out</button>
  </div>
  <% } %> 
  <ol class="patron-item-loans">
  </ol>
</section>
