<aside class="book__checkout">
  <h2>Hello, <%= user.name %>!</h2>

  <section class="checkout__list">
	  <h4>Currently checked out:</h4>
	  
	  <em><%= user.current_loans.length %> out of 10</em>
	  

	  <ol id="patron-loans-list">
	  </ol>
	</section>
</aside>