<section class="patrons__signup">
  <h2>Sign Up</h2>
    <form class="signup">
      <label>
        <span>Name:</span>
        <input class="name" name="name">
      </label>
      <label>
        <span>Email:</span>
        <input class="email" name="email" type="email">
      </label>
      <label>
        <span>Password:</span>
        <input class="password" name="password" type="password">
      </label>
      <label>
        <span>Password Confirmation:</span>
        <input class="password_confirmation" name="password_confirmation" type="password">
      </label>
      <button>Sign Up</button>
      <footer class="signup-signin__switcher">
        <p>Already a member?
        <a class="signinlink" href="#">Sign in!</a></p>
      </footer>
    </form>
</section>