<section class="landing__copy">
  <h1>Beehouse</h1>
  <p>Beehouse is a lending library in New York City, from the personal collection of Clayton Albachten and Cheryl Wu. The collection includes over <%= books.length %> titles, mainly in the following catagories:</p>
  <ul>
    <li>Poetry</li>
    <li>Design</li>
    <li>Technology</li>
    <li>Psychology</li>
    <li>Literary fiction</li>
    <li>Critical &amp; literary theory</li>
  </ul>
  <p>Any New Yorker can borrow a Beehouse book by creating an account and reserving online. Pick up books from Beehouse during Library Hours.</p>
</section>