<section class="landing__copy">
  <img src="<%= BeeHouseImages.mainLogo %>" class="beehouse__main-logo">
  <h1 class="landing__header">Beehouse</h1>
  <p>Beehouse is a lending library in New York City, from the personal collection of <a href="http://claytonalbachten.com">Clayton Albachten</a> and <a href="http://grungerabbit.com">Cheryl Wu</a>. The collection includes over <%= collectionSize %> titles, mainly in the following categories:</p>
  <ul>
    <li>Poetry</li>
    <li>Design</li>
    <li>Technology</li>
    <li>Psychology</li>
    <li>Literary fiction</li>
    <li>Critical &amp; literary theory</li>
  </ul>
  <p>Any New Yorker can borrow a Beehouse book by creating an account and reserving online. Pick up books from Beehouse during Library Hours.</p>
</section>