<img src="<%= BeeHouseImages.pgLogo %>" class="beehouse__pg-logo">
<nav class="page__navigation">
<ul>
  <li>
    <a class="books <% if (active == "books") { %>active<% } %>" href="/books">Books</a>
  <% if(currentUser.isAdmin()){ %>
    <a class="admin <% if (active == "admin") { %>active<% } %>" href="/admin">Current Activity</a>
    <a class="patrons <% if (active == "patrons") { %>active<% } %>" href="/patrons">Patrons</a>
  <% } %>

  <% if(session){ %>
    <a class="signout" href="/signout">Sign Out</a>
  <% } else { %> 
    <a class="signin" href="/signin">Sign In</a>
  <% } %>
  </li>
</ul>
</nav>