<img src="<%= BeeHouseImages.pgLogo %>" class="beehouse__pg-logo">
<nav class="page__navigation">
<% if (currentUser.get('late_fees') > 0) { %>
  <div class="notifications late_fees">
    <h4>You have late fees of $<%= (currentUser.get('late_fees')/100).toFixed(2) %>. Please <a class="fines" href="/fines">pay them</a>.</h4>
    </div>
<% } %>
<ul>
  <li> 
    <a class="books" href="/books">Books</a>
  </li>
  <% if(currentUser.isAdmin()){ %>
  <li>
    <a class="new" href="/books/new">Add Book</a>
  </li>
  <li>
    <a class="admin" href="/admin">Requests</a>
  </li>
  <% } %>
  <li>
    <a class="patrons" href="/patrons">Patrons</a>
  </li>
  <% if(session){ %>
  <li>
    <a class="signout" href="/signout">Sign Out</a>
  </li>
  <% } else { %> 
  <li>
    <a class="signin" href="/signin">Sign In</a>
  </li>
  <% } %>
</ul>
</nav>