<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1><%= @resource.title %> is available for pickup.</h1>
  <p>Just writing to let you know.</p> 
  <p>Remember. Library hours are from 5pm-9pm Monday to Friday. And we should be available most of the weekend.</p>
  <p>Looking forward to seeing you!</p>
  <p>cheers, <br> Clayton</p>
  <p>PS - If you no longer can or need to pick up your book, try to shoot me an email letting me know.</p>
</body>
</html>