<!DOCTYPE html>
<html>
<head>

  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Hello, <%= @patron.name %></h1>
  <p>Thanks for signing up for Beehouse. If there's anything I can help you with, let me know.</p>
  <p>You can reserve books thru the site, and pick them up from Cheryl and me at our house.</p>
  <p>cheers,<br>Clayton Albachten</p>
</body>
</html>