/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 1em "Crimson Text";
}
p {
  line-height: 1.5;
  font-size: 1.15em;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
h1 {
  font-size: 225%;
}
h2 {
  font-size: 175%;
}
h3 {
  font-size: 150%;
}
h4 {
  font-size: 125%;
}
a {
  text-decoration: none;
  padding: 0.05em;
}
a:link, a:visited, a:active {
  color: black;
  border-bottom: 1px solid black;
  transition: 0.1s border-bottom;
}
a:hover {
  border-bottom: 3px solid #FFDC0B;
}
.wrapper {
  width: 90%;
  margin: auto;
}
.beehouse__pg-logo {
  clear: both;
  margin-bottom: 1em;
}
label {
  margin-top: 0.75em;
}
input {
  border: 3px solid black;
  border-top: none;
  font: 1em "Crimson Text";
  padding: 0.5em 0.25em;
  background: none;
}
input:focus {
  outline: none;
  border-bottom: 3px solid #FFDC0B;
}
button {
  background-color: black;
  border: none;
  color: white;
  font: 1em "Crimson Text";
  margin-top: 0.5em;
  padding: 0.5em 1em;
}
button.disabled {
  background-color: gray; 
}
ul {
  margin: 1em 0;
}
.main__column {
  width: 75%;
  float: left;
  margin: 1em;
  padding: 2em;
  border-right: 10px solid black;
}
.full__column {
  margin: 1em;
  padding: 2em;
}
.page__header {
  border-bottom: 1px solid black;
  overflow: auto; //janky clearfix
}

.page__navigation {
  position: fixed;
  width: 25%;
  height: 25px;
  top: 0;
  left: 37.5%;
  background-color: #FFDC0B;
  color: white;
  padding: 0.5em;
  border-radius: 50px;
}
.page__navigation ul {
  margin: 0;
}