// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.landing__header {
  margin-bottom: 0.75em;
}
.beehouse__main-logo {
	float: right;
}
.patrons__signin, .patrons__signup {
	padding: 3em 1em;
}
.patrons__signin input {
	position: relative;
}