// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.landing__header {
  margin-bottom: 0.75em;
}
.signup-signin__switcher {
	padding-top: 1em;
}
.signup-signin__switcher p {
	font-size: 90%;
	font-style: italic;
	line-height: 1.25;
	a {
		font-style: normal;
	}
}
.signin, .signup {
	button {
		float: right;
	}
}

@media only screen and (min-width: 40em) {
	.beehouse__main-logo {
		float: right;
	}
	.patrons__signin, .patrons__signup {
		padding: 3em 1em;
		width: 22%;
		float: left;
		input {
			position: relative;
			width: 100%;
		}
	}
}
@media only screen and (max-width: 40em) {
	.logo__wrap {
		text-align: center;
		margin-bottom: 450px;
		height: 170px;
	}
	.beehouse__main-logo {
		margin: auto;
		max-height: 150px;
	}
	.patrons__signin, .patrons__signup {
		position: absolute;
		top: 200px;
		width: 90%;
	}
}