// Place all the styles related to the PATRONS controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Form Styles 

form label,
form label input {
  display: block; 
}

// book aside column
.book__checkout {
	padding: 2em;
}
.checkout__list {
	padding: 1em;
}
.patron__loan {
	overflow: auto;
	border-bottom: 1px solid black;
}
.patron__due {
	text-align: right;
}
.book__renew {
	float: right;
}
.patrons__list > li {
	border-bottom: 1px solid #222;
	padding: 1em 0;
}