// Place all the styles related to the PATRONS controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Form Styles 

form label,
form label input {
  display: block; 
}

// book aside profile column
.book__checkout {
	padding: 2em 1em;
 	width: 22%;
	float: left;
}
.checkout__list {
	//padding: 1em;
}
.patron__loan {
	overflow: auto;
	border-bottom: 1px solid black;
}
.patron__due {
	text-align: right;
	font-size: 90%;
}
.book__renew {
	float: right;
	width: 35%;
	margin: 0;
	font-size: 90%;
}
.patrons__list > li {
	border-bottom: 1px solid #222;
	padding: 1em 0;
}
.patron__due {
  font-style: italic;
  float: left;
  text-align: right;
  width: 65%;
  padding: 0.5em;
}
.checkout__welcome {
	border-bottom: 1px solid #bbb;
	padding: 1em 0;
	margin-bottom: 1em;
}
.checkout__count {
  font-variant: small-caps;
  letter-spacing: 0.15em;
}
.patron__book {
	padding: 0.5em 0;
	line-height: 1.25;
}