// Place all the styles related to the RESOURCES controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* BOOK INDEX */

.book__pg-title {
  float: left;
}
.book__count {
  float: right;
  text-align: right;
  margin-top: 0.5em;
}
.book__entry {
  border-bottom: 1px solid #bbb;
  padding: 0.75em;
  list-style: none;
  overflow: auto; //janky clearfix
}
.book__images {
  width: 15%;
  float: left;
  padding: 0.5em;
  img {
    max-width: 100%;
  }
}
.book__attributes {
  width: 60%;
  float: left;
  padding: 0.5em;
}
.book__hold-info {
  height: 4em;
  float: left;
  .book__due-on {
    display: block; 
  } 
}
.book__thumbnail {
  float: left;
}
.book__title {
  font-size: 150%;
  margin: 0;
  line-height: 1.15;
}
.book__creator {
  margin: 0.5em 0 0 0;
}
.book__more-info {
  float: right;
  margin-top: 1.25em;
  border-bottom: 1px solid #222;
  transition: 0.1s border-bottom;
}
.book__more-info:hover {
  border-bottom: 3px solid #FFDC0B;
  cursor: pointer;
}
.book__description {
  margin: 0.5em 0;
  font-size: 90%;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: italic;
}

/* SHOW BOOK */
.book-details__interactions, .bd__header--image {
  width: 20%;
  float: left;
}
.bd__header--content {
  float: left;
  padding: 0 2rem;
  width: 70%;
}
.bd__header--image .book__thumbnail {
  width: 100%;
  padding: 0 1em 1em 0;
}
.bd-header__title {
  line-height: 1.15;
  margin-bottom: 0.25em;
}
.bd-header__metadata {
  padding-top: 2em;
  width: 50%;
  float: left;
  dl {
    line-height: 2;
  }
  dt {
    font-variant: small-caps;
    letter-spacing: 0.15em;
    color: #bbb;
    width: 40%;
    float: left;
  }
  dd {
    display: block;
    width: 60%;
    float: left;
  }
}
.bd-header__metadata + .bd-header__metadata {
  border-left: 1px solid #bbb;
  text-align: right;
  min-height: 12em;
}
.bd__libnotes {
  font-size: 1rem;
  font-variant: small-caps;
  letter-spacing: 0.15em;
  padding-bottom: 0.5rem;
}
.book-details__main-col {
  padding: 2rem;
  width: 60%;
  float: left;
}
.book-details__interactions {
  padding: 2rem 1em 0 0;
}
.book-details__description p {
  font-size: 1.5em;
  line-height: 2;
}
.bd-interactions__entice {
  font-style: italic;
  margin-top: 1rem;
  line-height: 1.65;
  em {
    border-bottom: 1px solid #bbb;
  }
}
.bd-interactions__reserve {
  display: block;
}
.bd__current-loan {
  padding: 0.5em;
}