<section class="patrons__signin">
  <h2>Sign In</h2>
  <form class="signin">
    <label>
      <span>Email:</span>
      <input class="email" name="email" type="email">
    </label>
    <label>
      <span>Password:</span>
      <input class="password" name="password" type="password">
    </label>
    <button>Sign In</button>
    <p>Not a member?<br>
    <a class="signuplink" href="#">Sign up!</a></p>
  </form>
</section>